@(reportContent: Map[String, reporter.Report], nWeeks: Int, userNames: String, reviewMatrix: String, standardizedMatrix: String)

@import _root_.reporter.Report

<meta charset="utf-8">
<style>
body {
    margin: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
}

table {
    margin: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
}

#circle circle {
    fill: none;
    pointer-events: all;
}

.group path {
    fill-opacity: .5;
}

path.chord {
    stroke: #000;
    stroke-width: .25px;
}

#circle:hover path.fade {
    fill-opacity: .05;
    stroke-opacity: .2;
}
</style>
<head>
    <title>Phabricator report</title>
</head>

<body>
<h1>Report for @nWeeks weeks</h1>

<script src="http://d3js.org/d3.v2.min.js?2.8.1"></script>
<script>

var width = 500,
    height = 500,
    outerRadius = Math.min(width, height) / 2 - 10,
    innerRadius = outerRadius - 24;

var fill = d3.scale.category20c();

var formatPercent = d3.format("f");

var userNames = JSON.parse("@userNames".replace(/&quot;/g,'"'));

var reviewMatrix = @reviewMatrix;

var standardizedMatrix = @standardizedMatrix

var arc = d3.svg.arc()
    .innerRadius(innerRadius)
    .outerRadius(outerRadius);

var layout = d3.layout.chord()
    .padding(.04)
    .sortSubgroups(d3.descending)
    .sortChords(d3.ascending);

var path = d3.svg.chord()
    .radius(innerRadius);

var svg = d3.select("body").append("svg")
    .attr("width", width)
    .attr("height", height)
  .append("g")
    .attr("id", "circle")
    .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

svg.append("circle")
    .attr("r", outerRadius);

// Compute the chord layout.
layout.matrix(standardizedMatrix);

// Add a group per neighborhood.
var group = svg.selectAll(".group")
    .data(layout.groups)
  .enter().append("g")
    .attr("class", "group")
    .on("mouseover", mouseover);

// Add a mouseover title.
group.append("title").text(function(d, i) {
  return userNames[i] + ": " + formatPercent(d.value) + " diffs sent & received";
});

// Add the group arc.
var groupPath = group.append("path")
    .attr("id", function(d, i) { return "group" + i; })
    .attr("d", arc)
    .style("fill", function(d, i) { return fill(i); });

// Add a text label.
var groupText = group.append("text")
    .attr("x", 6)
    .attr("dy", 15);

groupText.append("textPath")
    .attr("xlink:href", function(d, i) { return "#group" + i; })
    .text(function(d, i) { return userNames[i]; });

// Add the chords.
var chord = svg.selectAll(".chord")
    .data(layout.chords)
  .enter().append("path")
    .attr("class", "chord")
    .style("fill", function(d) { return fill(d.source.index); })
    .attr("d", path);

// Add an elaborate mouseover title for each chord.
chord.append("title").text(function(d) {
  return userNames[d.source.index]
      + " → " + userNames[d.target.index]
      + ": " + formatPercent(reviewMatrix[d.source.index][d.target.index])
      + " diffs sent\n" + userNames[d.target.index]
      + " → " + userNames[d.source.index]
      + ": " + formatPercent(reviewMatrix[d.target.index][d.source.index])
      + " diffs sent";
});

function mouseover(d, i) {
  chord.classed("fade", function(p) {
    return p.source.index != i
       && p.target.index != i;
  });
}

</script>


@for((username, report) <- reportContent) {
    <h1>@username</h1>

    <h2>Percent of diffs sent within team - @report.relativeSentAllReviews</h2>
    <h2>Percent of diffs received within team - @report.relativeReceivedAllReviews</h2>

    @if(report.durationSentReviewMetadata.maxClosedReview.isDefined) {
        <h2>Closed diff sent with longest review -
            <a href="@report.durationSentReviewMetadata.maxClosedReview.get.reviewUrl">link</a>
            (@report.durationSentReviewMetadata.maxClosedReview.get.daysDifference days)
        </h2>
    }

    @if(report.durationSentReviewMetadata.maxOpenReview.isDefined) {
        <h2>Open diff sent still not reviewed -
            <a href="@report.durationSentReviewMetadata.maxOpenReview.get.reviewUrl">link</a>
            (@report.durationSentReviewMetadata.maxOpenReview.get.daysDifference days)
        </h2>
    }

    @if(report.durationReceivedReviewMetadata.maxClosedReview.isDefined) {
        <h2>Closed diff received with longest review -
            <a href="@report.durationReceivedReviewMetadata.maxClosedReview.get.reviewUrl">link</a>
            (@report.durationReceivedReviewMetadata.maxClosedReview.get.daysDifference days)
        </h2>
    }

    @if(report.durationReceivedReviewMetadata.maxOpenReview.isDefined) {
        <h2>Open diff received still not reviewed -
            <a href="@report.durationReceivedReviewMetadata.maxOpenReview.get.reviewUrl">link</a>
            (@report.durationReceivedReviewMetadata.maxOpenReview.get.daysDifference days)
        </h2>
    }

    <h2>Top reviews sent to: </h2>
    <table>
        <thead>
            <tr><th>Name</th><th>Reviews send count:</th></tr>
        </thead>
        <tbody>
        @for((user, count) <- report.sentAllReviewsPerUsername) {
            <tr><td>@user</td><td>@count</td></tr>
        }
        </tbody>
    </table>

    <h2>Top reviews received from: </h2>
    <table>
        <thead>
            <tr><th>Name</th><th>Reviews received count:</th></tr>
        </thead>
        <tbody>
        @for((user, count) <- report.receivedAllReviewsPerUsername) {
            <tr><td>@user</td><td>@count</td></tr>
        }
        </tbody>
    </table>

    <hr>
}
</body>